.containerx{
    width: 96%;
    display: flex;
    margin: 20px auto;
    justify-content: space-around;
    align-items: center;

}

.pro1x{
    display: flex;
    padding: 10px;
}
.pro1x>img{
    object-fit: contain;
    width: 30px;
}

.pro1x>div>p{
    font-size:11px;
    font-weight: bold;
    margin: 5px;
}

.cratingx1>span{
    background: #5DC942;
    display: flex;
    width: 40px;
    height: 22px;
    font-size: 10px;
    color: white;
    align-items: center;
    padding: 4px;
    justify-content: space-evenly;
    font-weight: bold;
    border-radius: 3px;
}

.cratingx1>span>p{
    margin-top: 23px;
    font-size: 18px;

}
.cratingx1{
    display: flex;
    display: flex;
    align-items: center;
    
    margin: 5px;

}
.cratingx1>div{
    color: #808080;
    font-size: 11px;
    margin-left: 3px;
}

.div1x, .div3x{
    background: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.25);
    border-radius: 7px;
}

.div2x{
    color: #5146FF;
    font-size: 11px;
    font-weight: bold;
}

@media only screen and (max-width:768px){
    .div2x {
        margin: 0 1rem !important;
    }
}

@media only screen and (max-width:425px){
    .pro1x{
        padding: 5px !important;
    }
    .pro1x>div>p {
        font-size: 10px;
    }
    
}
@media only screen and (max-width:375px){
    .cratingx1>div {
        font-size: 9px !important;
    }
    .cratingx1>span {
        width: 35px !important;
        height: 18px !important;
        font-size: 8px !important;
    }   
    .cratingx1>span>p {
        margin-top: 18px !important;
        font-size: 14px !important;
    } 
}